.announcements {
  padding-left: 10px;
  padding-top: 10px;
}

.cards {
  padding-top: 20px;
}

.p1 {
  text-align: left;
  color: #000000;
}


hr {
  height: 1px;
  color: #532E85;
  background-color: #532E85;
  border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}
