.announcements {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: 000000;
}

.p1 {
  text-align: left;
  color: #000000;
}

hr {
  height: 1px;
  color: #532E85;
  background-color: #532E85;
  border: none;
}
