
.progressinfo {
    padding: 15px;
}

.content-bar {
  background-color: #532E85;
  color: white;
  height: 40px;
  position: relative;
}

.rowContent {
  display:flex;
  flex-direction:row;
}

.contain {
  width: 15%;
}

.disabled {
  opacity: 0.6;
}

.btn {
  border-color: black;
}

hr {
  height: 1px;
  width: 100%;
  color: #532E85;
  background-color: #532E85;
  border: none;
}
