.main-container {
  width: 1200px;
  background-color: #dbafea;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 20px;
  box-shadow: 0 2px 10px -3px #333;
  margin: 0 auto;
}
.split{
  display: flex;
}
.flex-container {
  display: flex;
  padding: 20px;
}
.split-left {
  width:30%;
}

.split-right {
  width: 70%;
}

Button {
  text-align: center;
}
