
.sidebar {
    margin-right: 20px;
    height: 100vh;
    top: 80px;
    z-index: 2;
}

.sidenav---sidenav---_2tBP {
  background-color: #532E85;

}

.sidenav---navtext---1AE_f {
  font-family: Arial, Helvetica, sans-serif;
}

.icon-image {
  padding-left: 0em;
}

#main {
  margin-left: 80px;
}
