
.dashboard {
    background-color: #e6e5ea;
    position: fixed;
}

.content-bar {
  background-color: #532E85;
  color: white;
  height: 40px;
  padding: 10px;
  position: relative;
}

.content-field {
  padding-left: 20px;
}

//comment
//purple: #532E85
//blue: #14669E
//dark grey: #26292E
//medium grey: 	#30343D
//light grey: #E3E5EB
//lighter grey: #EDF2F4
