<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Western Radio Volunteer Applications</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>
    <main>
      <nav class="nav" id="top">
  			<a class="nav-logo" href="" alt="Radio Western Home">
  				<img src="/static/images/RadioWesternLogo.png" alt="Radio Western Logo" height="60" width="112">
  			</a>
  		</nav>
    </main>
    <div class="section-homepage">
      <div class="homepage" id="menu">
        <p><img src="/static/images/paper-plane-147602_640.png" height="20 width="5rem">Overview</p>
        <div class="main">
          <button type="button" name="Dashboard" id="dashboard">
            <div class="overview_item">
              <img src="/static/images/clipboard-29500_640.png" height="17" width="15"/>
              <span>Dashboard
              </span>
            </div>
          </button>
          <button type="button" name="Dashboard" id="calendar">
            <div class="overview_item">
              <img src="/static/images/calendar-152918_640.png" height="17" width="15"/>
              <span>Calendar
              </span>
            </div>
          </button>
          <button type="button" name="Dashboard" id="announcements">
            <div class="overview_item">
              <img src="/static/images/speaker-phone-1431952_640.png" height="17" width="15"/>
              <span>Announcements
              </span>
            </div>
          </button>
        </div>
        <p><img src="/static/images/user-icon-2098873_640.png" height="20 width="6rem"> User</p>
        <div class="Profile">
          <button type="button" name="Dashboard" id="profile">
            <div class="overview_item">
              <img src="/static/images/user-icon-2098873_640.png" height="17" width="15"/>
              <span>Profile
              </span>
            </div>
          </button>
          <button type="button" name="Dashboard" id="progress">
            <div class="overview_item">
              <img src="/static/images/diagram-2008478_640.png" height="17" width="15"/>
              <span>Progress Tracking
              </span>
            </div>
          </button>
        </div>
        <p><img src="/static/images/logout-297789_640.png" height="20 width="6rem"> Logout</p>
      </div>
      <hr align="left">
      <div class="homepage" id="homepage">

      </div>

    </div>

  </body>
</html>
